@charset "UTF-8";

*{  
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;  
}
body{ 
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5em;
  font-size: 1em;
 

}
header,section.normal{ 
  padding: 20px;
}

p{  
  text-align: justify;
  margin-bottom: 10px;
}
h1,h2{  
  margin-bottom: 20px;
  line-height: 1.2em;
  text-align: left;
  
}

main section.flex-content{ 
  background-color: rgb(146, 145, 145);
  padding: 20px;

  display: flex;
  flex-flow: column nowrap;
  
}


article.media-text{ 
  display: flex;
  flex-flow: row wrap-reverse;
 justify-content: space-between;

 margin-bottom: 20px;
}
 article.text-media{ 
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
 
}
article div.text{ 
  flex: 1 1 400px;
  
  
}
article div.media{  
  flex: 1 0 400px;
 
}

div.media img{ 
  display: block;
  margin: auto;
  
}

div.media iframe{ 
  display: block;
  margin: auto;
  width: 400px;
}



 
