@charset "UTF-8";
*{  
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: darkgray;
    font-size: 1em;
}
header{ 
     background-color: grey;
     color: white;
     padding: 10px;
     margin-bottom: 15px;
   
    
}

header  h1{    
    padding-bottom: 10px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.849);
    text-align: center;
}
   
span.material-symbols-outlined{ 
    font-size: 30px;
}

div#menu{
    width: 50px;
    margin: auto;
    
    cursor: pointer;  
    color: white;
    display: flex;
     justify-content: center;
    
    
    
    
}

header nav{ 
    width: 400px;
   
    
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    margin: auto;
    
    display: none;
    
    

}

header a{   
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(46, 45, 45);
    color: white;
   border: 2px solid grey;
   } 

header a:hover{ 
    background-color: rgba(0, 0, 0, 0.87);
}



main{   
    width: 90vw;
    margin: 10px;
    margin: auto;
    
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.356);

    
    
    
}









@media screen and (min-width:768px) {
    header h1{  
        text-align: left;
    } 
    header nav{ 
       width: 100%;
        display: flex;
        flex-flow: row nowrap;
        
        margin-left: 0px;
    }
    span.material-symbols-outlined{   
        display: none;
        
    }
   
    
}

@media  screen and (min-width:992px) {
    body{   
       
    }
    header{ 
        display:flex;
        flex-flow: row nowrap;
        margin-bottom: 20px;
    }
    nav{
        display: flex;
        justify-content: end;
    }
    main{   
      width: 80%;
      height: 300px;
      text-align: justify;
    }
    main h2{    
        padding-bottom: 10px;
    }

    main p{ 
        padding-left: 10px;
        padding-right: 10px;
    }
    
}