@charset "UTF-8";

header, nav { 
    display: flex;
    flex-flow: column nowrap;
}
nav {    
   display: none;
}
header h1{  
    flex-basis: 50px;
}
header nav{ 
    width: 80vw;
    text-align: center;
}

span#close{ 
    display: none;
    cursor: pointer;
    border: 1px dotted black;
}
