@charset "UTF-8";

header, nav { 
    display: flex;
    flex-flow: column nowrap;
}
nav {    
  
}
header h1{  
    flex-basis: 50px;
    font-size: 30px;
}
header nav{ 
    width: 80vw;
    text-align: center;
    display: none;
}

#menu{  
    display: flex;
}
span#close{ 
    display: none;
    cursor: pointer;
    /*border: 1px dotted black;*/
}
main{   
   width: 80vw;
   height: 100%;
}


 
