@charset "UTF-8";
    body{   
        background-color: rgb(189, 158, 214);
        font-family: Arial, Helvetica, sans-serif;
    }
    h1{
        color: rgba(170, 10, 10, 0.869);
    }
    h1#principal{   
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: rgba(170, 10, 10, 0.869);
        color: white;
        border-radius: 10px 10px;
        padding: 5px;
        width: 500px;
        margin: auto;
        box-shadow: 5px 5px 20px 0px rgba(75, 5, 5, 0.824);
    }
    h2{ 
       color: rgb(16, 55, 56); 
    }
    .basico{
        color: rgb(16, 55, 56);;
    }
    .intermediario{
        color: rgb(2, 69, 2);
    }
    .avancado{
        color: rgb(98, 84, 0);

    }
    .destaque{  
        background-color: rgba(234, 95, 95, 0.618);
    }
    
